- dashes-bottom: [6, 2, 3]
  dashes-right: [5, 1, 5]
  dots-left: [3, 3, 2]
  dots-top: [4, 3, 1]
  letters:
  - [P, '', '']
  - ['', '']
  - ['', '', T]
- dashes-bottom: [4, 2, 1, 4]
  dashes-right: [3, 0, 5, 3]
  dots-left: [10, 6, 2, 5]
  dots-top: [7, 5, 4, 7]
  letters:
  - [S, '', '', '']
  - ['', '']
  - ['', '']
  - ['', '', '', E]
- dashes-bottom: [3, 2, 5]
  dashes-right: [2, 4, 4]
  dots-left: [7, 2, 3]
  dots-top: [6, 3, 3]
  letters:
  - [B, E, L]
  - [R, O]
  - [A, P, T]
- dashes-bottom: [5, 6, 2, 2]
  dashes-right: [5, 0, 4, 6]
  dots-left: [8, 6, 1, 4]
  dots-top: [8, 0, 4, 7]
  letters:
  - [S, O, U, L]
  - [H, I]
  - [O, N]
  - [W, O, R, E]

